<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

        body{
            background: linear-gradient(135deg,#111827,#1f2937);
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
            font-family:'Segoe UI';
        }

        .card-box{
            background:white;
            padding:40px;
            border-radius:20px;
            width:420px;
        }

    </style>
</head>
<body>

<div class="card-box">

    <h2 class="text-center mb-4">
        Reset Password
    </h2>

    <form th:action="@{/lecturer/reset-password}"
          method="post">

        <input type="hidden"
               name="token"
               th:value="${token}">

        <div class="mb-3">
            <input type="password"
                   name="password"
                   class="form-control"
                   placeholder="Enter New Password"
                   required>
        </div>

        <button type="submit"
                class="btn btn-dark w-100">
            Reset Password
        </button>

    </form>

</div>

</body>
</html>